
@{
    ViewData["Title"] = "AboutUs";
}
<body id="home-index">
    <div id="aboutus-grid">
        <div id="rikard" class="hover"><div class="filter"></div><p>Rikard</p></div>
        <div id="carl" class="hover filter"><div class="filter"></div><p>Carl</p></div>
        <div id="linus" class="hover filter"><div class="filter"></div><p>Linus</p></div>
        <div id="ourstory">
            <h2>Om Projektet</h2>
            <p>Projektarbete utfört av Linus, Carl och Rikard våren 2020. Uppgiften var att skapa en hemsida med WebApi 
            funktioner och att skildra behörighet mellan inloggad och utloggad användare.</p>
            <p>Utfört på uppdrag av Campus högskola, inriktning Systemutvecklare.NET</p>
        </div>
    </div>

    @section Scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

