
@{
    ViewData["Title"] = "AboutUs";
}
<body id="home-index">
    <h1>THIS SITE WAS MY BY LINS CARL AND RIKARD</h1>
    <h2>USING Asp.NET core</h2>
    <h3>and love</h3>

    @section Scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

