
@{
    ViewData["Title"] = "OurDestinations";
}

<body id="home-index">
    <h1>OurDestinations</h1>

    @section Scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

