
@{
    ViewData["Title"] = "OurRockets";
}
    <body id="home-index">
        <h1>OurRockets</h1>

        <div class="cards"></div>
        @section Scripts{
        <script src="~/js/rockets/rocket.js"></script>
        <script src="~/js/rockets/rocket.customerview.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>