
@{
    ViewData["Title"] = "OurRockets";
}
    <body id="home-index">
        <h1>OurRockets</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Range</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        @section Scripts{
        <script src="~/js/rockets/rocket.js"></script>
        <script src="~/js/rockets/rocket.all.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>