/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Audiowide';
    color: white;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#background-image {
    background-image: url('../img/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-field {
    background-color: transparent;
}

.navbar-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
}

#navbar-logo {
    text-align: center;
    grid-column: 2;
}

#navbar-logo-text {
    font-size: 2em;
    color: white;
}

#navbar-dropdown {
    text-align: right;
    grid-column: 3;
    color: white;
    font-size: 1.5em;
}

table {
    color: black;
    background-color: white;
}

.table-row {
    cursor: pointer;
}

footer > div {
    height:inherit;
}
