@model SpaceyWebbApp.ViewModels.BookingViewModel
@{
    ViewData["Title"] = "BookingConfirmation";
}
<body id="booking-confir-index">
    <h1 class="pb-5">Booking Confirmation</h1>
    <div>
        @foreach (var customer in Model.Customers)
        {
            <p>@customer.FullName booked seat number: @customer.SeatNumber</p>
        }
        <h3>Thank you for traveling with SPACEY</h3>
    </div>
</body>

