@model IEnumerable<string>
@{
    ViewData["Title"] = "BookPage";
}
<body id="booking-index">


    <h1>Book Seats</h1>
    <h6 id="departure">Departure:</h6>
    <h6 id="rocket">Rocket:</h6>
    <h6 id="destination">Destination:</h6>
    <hr />

    <div class="plane">
        <div class="cockpit">
            <h1>Please select a seat</h1>
        </div>

        @using (Html.BeginForm(new { action = "SubmitCheckBoxes" }))
        {
            <ul class="cabin fuselage">
            </ul>
            <input type="submit" value="Select seats" />
        }
    </div>

    @section Scripts {
        <script src="~/js/expeditions/expedition.js"></script>
        <script src="~/js/Booking/booking.details.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>


