@model SpaceyWebbApp.Models.Expedition
@{
    ViewData["Title"] = "BookPage";
}
<body id="home-index">


    <h1>Book Seats</h1>
    <h6 id="departure">Departure:</h6>
    <h6 id="rocket">Rocket:</h6>
    <h6 id="destination">Destination:</h6>
    <hr />

    <div class="plane">
        <div class="cockpit">
            <h1>Please select a seat</h1>
        </div>
        <ul class="cabin fuselage">
            
        </ul>
    </div>

    <form asp-action="BookPage">
        <div class="form-group">
            <input type="submit" value="Confirm Order" class="btn btn-primary" />
        </div>
    </form>
    @section Scripts {
        <script src="~/js/expeditions/expedition.js"></script>
        <script src="~/js/Booking/booking.details.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>


