@model IEnumerable<string>
@{
    ViewData["Title"] = "BookPage";
}
<body id="booking-index">

    <div id="seat-background" class="bg-dark w-100">
        <h2 class="px-4 pt-3">Book Seats</h2>
        <h6 id="rocket" class="px-4">Rocket:</h6>
        <h6 id="destination" class="px-4">Destination:</h6>
        <h6 id="departure" class="px-4">Departure:</h6>
        <hr />

        <div class="plane">
            <div class="cockpit">
            </div>

            @using (Html.BeginForm(new { action = "SubmitCheckBoxes" }))
            {
                <ul class="cabin fuselage">
                </ul>
                <div class="text-right">
                    <input type="submit" value="Select seats" class="mb-3 mr-4" />
                </div>
            }
        </div>
    </div>

    @section Scripts {
        <script src="~/js/expeditions/expedition.js"></script>
        <script src="~/js/Booking/booking.details.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>


