@model SpaceyWebbApp.ViewModels.BookingViewModel
@{
    ViewData["Title"] = "BookingConfirmation";
}
<body id="booking-confir-index">
    <h1>BookingConfirmation</h1>
    <div>
        @foreach (var customer in Model.Customers)
        {
            <p>@customer.FullName bokade plats @customer.SeatNumber</p>
        }
        <p>for expedition to </p>
    </div>
</body>

