@model IEnumerable<string>
@{
    ViewData["Title"] = "FinalBookingStage";
}
    
<body id="home-index">
        <h1>FinalBookingStage</h1>
        @foreach (var seat in Model)
        {
            <input placeholder="Rikard Skoglund" /> <p>for seat @seat</p>
        }
</body>

