
@{
    ViewData["Title"] = "Index";
}
    <body id="home-index">
        <h3>Our Current Expeditions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Rocket</th>
                    <th>SeatsLeft</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        @section Scripts {
            <script src="~/js/expeditions/expedition.js"></script>
            <script src="~/js/Booking/Booking.js"></script>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>