@model SpaceyWebbApp.Models.Expedition

@{
    ViewData["Title"] = "AddExpedition";
}

<h1>AddExpedition</h1>
<h4>Expedition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" method="post">
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
            <div class="form-group">
                <label for="departure" class="control-label">Dep</label>
                <input type="datetime-local" name="departure" class="form-control" />
                <!--<span asp-validation-for="Departure" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label for="rocketId" class="control-label">Rocket</label>
                <select name="rocketId" class="form-control" id="rocketSelect">
                </select>
            </div>
            <div class="form-group">
                <label for="destinationId" class="control-label">Dest</label>
                <select name="destinationId" class="form-control" id="destinationSelect">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p id="message"></p>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/expeditions/expedition.post.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
